
header img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin:auto;
	display:block;
	background-size: contain;
	position: relative;
}
.carousel-caption {
	text-shadow: 1px 1px 1px #000;
	vertical-align: center;
	position: absolute;
}

h1 {
	font-family: 'Quattrocento Sans', sans-serif;
}

.img-responsive {
	 margin: 0 auto;
}

p {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.5rem;
}

h3 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 2.25rem;
}

h4 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 2rem
}

h5 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size:1.75rem;
}

.verbling {
	max-width: 50%;
	max-height: 50%;
}

