html, body {
	max-width: 100%;
	overflow-x: hidden;
}

.hero {
	background: url(place-holder-desk.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 450px;
}

.hero div {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero h1 {
	margin-top: 150px;
}

.img-responsive {
	 margin: 0 auto;
}

.img-fluid {
	vertical-align: center;
}

#about-me img {
	border-radius: 50%;
	max-height: 200px;
	max-width: 200px;
}

p {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.5rem;
}

h2 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 2.5rem;
}

h3 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 2.25rem;
}

h4 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 2rem
}

h5 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size:1.75rem;
}

#verbling img {
	max-width: 80%;
	max-height: 80%;
}

#celta img {
	max-height: 50%;
	max-width:50%;
}

#social-li {
	color: white;
}

#social-gh {
	color: white;
}

#social-li:hover {
	color: #0077B5;
}
#social-gh:hover {
	color: #6CC644;
}

.mobile-button .fa{
	font-size: 50px;
}

.border {
	border:1rem gray solid;
	margin:20px;
	padding:20px;
	background-color: #f4f7fc;
}

/*

Note: This was the CSS for the custom JavaScript file.

.align-left {
	float: left;
	margin-right: 20px;
}
.align-right {
	float: right;
	margin-left: 20px;
}
.slide-in {
	opacity: 0;
	transition: all .5s;
}
.align-left.slide-in {
	transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
	transform: translateX(30%) scale(0.95);
}
.slide-in.active {
	opacity: 1;
	transform: translateX(0%) scale(1);
}
*/


