header img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin:auto;
	display:block;
	background-size: contain;
}
.carousel-caption {
	text-shadow: 1px 1px 1px #000;
	vertical-align: center;
}

h1 {
	font-family: 'Quattrocento Sans', sans-serif;
}

.img-responsive {
	 margin: 0 auto;
}

p {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.25rem;
}

h3 {
	font-family: 'Alegreya Sans', sans-serif;
}

.img-fluid {
	max-width: 60%;
	max-height: 60%;
}

