html, body {
	max-width: 100%;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
}

.navbar {
	font-weight: bold;
}

.hero {
	background: url(../../images/esl-desk.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 450px;
}

.hero div {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero h1 {
	margin-top: 175px;
	color: white;
}

.img-responsive {
	 margin: 0 auto;
}

.img-fluid {
	vertical-align: center;
}

#about-me img {
	border-radius: 50%;
	max-height: 200px;
	max-width: 200px;
}

p {
	font-size: 1.5rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2.25rem;
}

h4 {
	font-size: 2rem
}

h5 {
	font-size:1.75rem;
}

#verbling img {
	max-width: 80%;
	max-height: 80%;
}

#celta img {
	max-height: 50%;
	max-width:50%;
}

#social-li {
	color: white;
}

#social-gh {
	color: white;
}

#social-li:hover {
	color: #0077B5;
}
#social-gh:hover {
	color: #6CC644;
}

.mobile-button .fa{
	font-size: 50px;
}

.border {
	border:1rem gray solid;
	margin:20px;
	padding:20px;
	background-color: #f4f7fc;
}

.footer {
	width: 100%;
	margin: 0;
	padding: 0;
}

#scrollTop {
	text-align: center;
}

#backToTop {
	width: 40px;
	line-height: 40px;
	overflow: hidden;
	z-index: 999;
	display: none;
	cursor: pointer;
	opacity: 0.2;
	position: fixed;
	bottom: 50px;
	right: 0;
	color: #555;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	padding-right: 1rem;
}
#backToTop:hover {
	color: #4286f4;
	opacity: 0.5;
}



